<!-- Start Construction Area -->
<section class="htc__best__construction ptb--150">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="htc__bst__construc">
          <div class="section__title text-center">
            <h2 class="title__line foo">ABOUT
              <span class="text--theme">ACENTIA</span></h2>
            <p style="text-align:left">Oil and gas has proven to be a
              contributor to economic growth in every country when it is managed
              effectively and efficiently. The industry brings about benefits
              such as employment, lucrative economy and among others. It is due
              to these benefits that many countries have adopted the local
              content policy so as to reap these benefits.
            </p>
            <p style="text-align:left">
              The local content policy aims at ensuring that local citizen
              benefit from the resources of a country. This policy in a way has
              helped to achieve many goals when it comes to benefits. The local
              content policy seeks to achieve many objectives. Some of them are
              outlined below;</p>
            <div
              style="  
                                    display: inline-block;
                                    padding-top: 30px;
                                    overflow: hidden;"
            >
              <ol style="text-align:left;">
                <li>Employment of locals where a foreign oil and gas company
                  operates.</li>
                <li>Patronage of local services.</li>
                <li>Training of nationals</li>
                <li>Patronage of local goods</li>
              </ol>
            </div>
            <p style="text-align:left;">It is due to these objectives that
              Acentia Energy as an indigenous Ghanaian company seeks to help
              maintain and grow the local content in the oil and gas industry.
              Acentia Energy is an oilfields support service company that
              provides the highest level of quality ancillary services that
              allow our clients to have seamless operations both onshore and
              offshore. We have the permit from Petroleum Commission of Ghana to
              provide services to the exploration companies in Ghana. Although
              Acentia is young in the industry, we can boast of a strong network
              and team of industry professionals with industry experience from
              across the globe.</p>
            <p style="text-align:left;">Our team comprises of courteous,
              hardworking and efficient professionals that leverage innovative
              experience technology and passion to ensure that high quality,
              integrated service is delivered to suit your business needs. Our
              network and experience spans the upstream, midstream and
              downstream, this positions us to consistently provide our clients
              with safe and reliable, tailor-made support service solutions. We
              are passionate about delivering world-class products and services,
              and take pride in doing so.</p>
            <p style="text-align:left;">Acentia Energy believes that human
              resource is a core asset for the sustainable development of the
              organization, hence, recruits the best talents available on the
              market. We continuously invest in training and developing our
              staff to ensure that we maintain the requisite human resource
              base. We pride ourselves in our ability to deliver our clients’
              requirements, as a one-stop shop for support services in the
              oilfields.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Construction Area -->
<!-- Start Offer Area -->
<section class="htc__mission__area bg__gray">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-5 col-sm-7 col-xs-12">
        <div class="htc__mission__container foo">
          <div class="single__mission">
            <h2>SOCIAL RESPONSIBILITY</h2>
            <p>We take responsibility for our collective actions, and we work
              hand-in-hand to contribute to the good of our customers and the
              community we are part of.Integrity. As a company, we set the
              highest standards in ethics and professionalism at all times. Our
              corporate relationships are built on trust, respect and
              transparency</p>
          </div>
          <div class="single__mission">
            <h2>OUR MISSION</h2>
            <p>Acentia Energy set out to be the most sought-after energy
              services contractor that satisfies and, where possible, exceeds
              customers’ expectations of service, through innovative application
              of skills and cutting edge technology. We aim to be known for our
              great people, topnotch customer service, and operational
              efficiency.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="htc__offer__thumb foo">
    <div class="htc__offer__thumb__inner">
      <img src="images/about/1.png" alt="offer img" />
    </div>
  </div>
</section>
<!-- End Offer Area -->
<!-- Start Offer Area -->
<section class="htc__offer__area htc__offer--2 pb--120 bg__gray">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4 hidden-sm col-xs-12 xmt-40">

      </div>
      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div class="offer foo">
          <div class="offer__icon">
            <img src="images/others/icon-2/1.png" alt="icon images" />
          </div>
          <div class="offer__details">
            <h2><a href="#">QUALITY SERVICE</a></h2>
            <p>We offer topnotch solutions to operators in the oil and gas
              industry through our reliable sourcing, stocking, repairs and
              maintenance of several oilfield tools and equipment</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 xmt-40">
        <div class="offer separator foo">
          <div class="offer__icon">
            <img src="images/others/icon-2/2.png" alt="icon images" />
          </div>
          <div class="offer__details">
            <h2><a href="#">Customer Support</a></h2>
            <p>Our Manpower Sourcing team is dedicated to help customers execute
              projects successfully within the shortest period, and at
              competitive rates</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4 col-lg-4 hidden-sm col-xs-12 xmt-40">
                        <div class="offer separator foo">
                            <div class="offer__icon">
                                <img src="images/others/icon-2/3.png" alt="icon images">
                            </div>
                            <div class="offer__details">
                                <h2><a href="#">LOW COST</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized</p>
                            </div>
                        </div>
                    </div> -->
    </div>
  </div>
</section>
<!-- End Offer Area -->