<div class="clienty">
  <div class="clienty__img-cont">
    <img src="/images/clients/Artboard 1.png" alt="" />
  </div>
  <div class="clienty__img-cont">
    <img src="/images/clients/Artboard 2.png" alt="" />
  </div>
  <div class="clienty__img-cont">
    <img src="/images/clients/Artboard 3.png" alt="" />
  </div>
  <div class="clienty__img-cont">
    <img src="/images/clients/Artboard 4.png" alt="" />
  </div>
  <div class="clienty__img-cont">
    <img src="/images/clients/Artboard 5.png" alt="" />
  </div>
  <div class="clienty__img-cont">
    <img src="/images/clients/Artboard 6.png" alt="" />
  </div>
  <div class="clienty__img-cont">
    <img src="/images/clients/Artboard 7.png" alt="" />
  </div>
  <div class="clienty__img-cont">
    <img src="/images/clients/Artboard 8.png" alt="" />
  </div>
  <div class="clienty__img-cont">
    <img src="/images/clients/Artboard 9.png" alt="" />
  </div>
</div>