<div class="event-b" style="width: 50%; text-align: center; text-transform: capitalize;">
  <h2>Carreer Guidance Conference with the disabled students of University of Ghana, Legon</h2>
</div>
<div class="clienty">
  <a
    class="clienty__img-cont"
    href="/images/cgc/Artboard 1.png"
    data-lightbox="mygallery"
  >
    <img src="/images/cgc/Artboard 1.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/cgc/Artboard 2.png"
    data-lightbox="mygallery"
  >
    <img src="/images/cgc/Artboard 2.png" alt="" />
  </a>
</div>