<div class="event-b" style="width: 50%; text-align: center; text-transform: capitalize;">
  <h2>Visit to the New Inuagurated Osu Mantse to pay Homage and also to discuss Future Opportunities</h2>
</div>
<div class="clienty">
  <a
    class="clienty__img-cont"
    href="/images/vni/Artboard 1.png"
    data-lightbox="mygallery"
  >
    <img src="/images/vni/Artboard 1.png" alt="" />
  </a>
  <a>
    <video src="/images/vni/vid1.mp4" alt="" controls/>
  </a>
  <a
    class="clienty__img-cont"
    href="/images/vni/Artboard 2.png"
    data-lightbox="mygallery"
  >
    <img src="/images/vni/Artboard 2.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/vni/Artboard 3.png"
    data-lightbox="mygallery"
  >
    <img src="/images/vni/Artboard 3.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/vni/Artboard 4.png"
    data-lightbox="mygallery"
  >
    <img src="/images/vni/Artboard 4.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/vni/Artboard 5.png"
    data-lightbox="mygallery"
  >
    <img src="/images/vni/Artboard 5.png" alt="" />
  </a>
</div>