<div class="event-b">
  <h1>Corporate Social Responsibility Project</h1>
  <p>Commissioning of the refurbished ICT Laboratory at the Osu Ringway Estate School</p></br>
  <p>Acentia Energy believes that our company’s existence is a part of a bigger system of people, 
    values and organization. For which reason, we deem it a responsibility to give back to the 
    society within which we operate.</p></br>
  <p>We believe in protecting human rights, preserving the environment and supporting education and health of the citizenry.
  </p></br>
  <p>We are happy to be part of this project, refurbishing the ICT Lab of the Ringway School, Osu,  for the use of the school 
    and to improve student’s knowledge in information communications technology.</p>
</div>
<div class="clienty">
  <a
    class="clienty__img-cont"
    href="/images/csr/Artboard 1.png"
    data-lightbox="mygallery"
  >
    <img src="/images/csr/Artboard 1.png" alt="" />
  </a>
  <a>
    <video src="/images/csr/vid1.mp4" controls/>
  </a>
  <a
    class="clienty__img-cont"
    href="/images/csr/Artboard 2.png"
    data-lightbox="mygallery"
  >
    <img src="/images/csr/Artboard 2.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/csr/Artboard 3.png"
    data-lightbox="mygallery"
  >
    <img src="/images/csr/Artboard 3.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/csr/Artboard 4.png"
    data-lightbox="mygallery"
  >
    <img src="/images/csr/Artboard 4.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/csr/Artboard 5.png"
    data-lightbox="mygallery"
  >
    <img src="/images/csr/Artboard 5.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/csr/Artboard 6.png"
    data-lightbox="mygallery"
  >
    <img src="/images/csr/Artboard 6.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/csr/Artboard 7.png"
    data-lightbox="mygallery"
  >
    <img src="/images/csr/Artboard 7.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/csr/Artboard 8.png"
    data-lightbox="mygallery"
  >
    <img src="/images/csr/Artboard 8.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/csr/Artboard 9.png"
    data-lightbox="mygallery"
  >
    <img src="/images/csr/Artboard 9.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/csr/Artboard 10.png"
    data-lightbox="mygallery"
  >
    <img src="/images/csr/Artboard 10.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/csr/Artboard 11.png"
    data-lightbox="mygallery"
  >
    <img src="/images/csr/Artboard 11.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/csr/Artboard 12.png"
    data-lightbox="mygallery"
  >
    <img src="/images/csr/Artboard 12.png" alt="" />
  </a>
</div>