<div class="event-b" style="width: 50%; text-align: center; text-transform: capitalize;">
  <h2>Gallery of Events</h2>
</div>
<div class="clienty">
  {{!-- <a
    class="clienty__img-cont"
    href="/images/cgc/Artboard 1.png"
    data-lightbox="mygallery"
  >
    <img src="/images/cgc/Artboard 1.png" alt="" />
  </a> --}}
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="project__itm foo">
      <div class="project__thumb">
        <a href="/events/carreer-guidance-conference">
          <img
            src="/images/cgc/Artboard 1.png"
            alt="project images"
          />
        </a>
        <div class="project__hover__info">
          <div class="project__action">
            <h2><a href="/events/carreer-guidance-conference">Carreer Guidance Conference</a></h2>
            <h4>{{this.date}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="project__itm foo">
      <div class="project__thumb">
        <a href="events/visit-to-the-new-inuagurated-osu-mantse">
          <img
            src="/images/vni/Artboard 1.png"
            alt="project images"
          />
        </a>
        <div class="project__hover__info">
          <div class="project__action">
            <h2><a href="events/visit-to-the-new-inuagurated-osu-mantse">Visit to the New Inuagurated Osu Mantse</a></h2>
            <h4>{{this.date}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="project__itm foo">
      <div class="project__thumb">
        <a href="events/coporate-social-responsibility">
          <img
            src="/images/csr/Artboard 9.png"
            alt="project images"
          />
        </a>
        <div class="project__hover__info">
          <div class="project__action">
            <h2><a href="events/coporate-social-responsibility">Corporate Social Responsibility Project</a></h2>
            <h4>{{this.date}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="project__itm foo">
      <div class="project__thumb">
        <a href="events/breakfast-meeting">
          <img
            src="/images/lst-project-3/Artboard 16.png"
            alt="project images"
          />
        </a>
        <div class="project__hover__info">
          <div class="project__action">
            <h2><a href="events/breakfast-meeting">BREAKFAST MEETING</a></h2>
            <h4>{{this.date}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>