<div class="event-b">
  <h1>BUSINESS BREAKFAST MEETING</h1>
  <p>Acentia Energy Limited held a business breakfast meeting with its
    stakeholders at Takoradi Oil Village on the 20th of August, 2021. The agenda
    of the meeting was introduction of Acentia Energy Ltd.’s and its subsidiary
    companies (Unity Assets and Grace Valley Farms).</p></br>
  <p>Grace Valley Farms is a company which supplies quality and affordable food
    stuffs / items from its own grown farms to vessels and households Whiles
    Unity Assets also manages hotels and other hospitality facilities. Unity
    Asset is currently managing Takoradi Oil Village which has apartments and
    bungalows for short and long stays.</p></br>
  <p>It became evident during the meeting that Acentia Energy has the best
    offers when it comes to services rendered to the oil and gas companies.
    Acentia Energy is therefore ready to partner with companies in the oil and
    gas industry.
  </p></br>
  <p>Various companies such as Halliburton Ghana, ENI Ghana, Stratcon Energy,
    Orsam Oil & Gas, Baker Hughes, Wayoe Engineering Ltd P.E. Power Ltd etc,
    participated in this meeting. The Managing Director of Acentia Energy Ltd.
    Mr. Kofi Ankamah emphasized that, Acentia Energy is the best partner for
    success in the Oil and Gas Industry so look no further when looking for a
    partner in the oil and gas industry.</p>
</div>
<div class="clienty">
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 1.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 1.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 2.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 2.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 3.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 3.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 4.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 4.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 5.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 5.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 6.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 6.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 7.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 7.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 8.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 8.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 9.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 9.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 10.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 10.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 11.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 11.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 12.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 12.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 13.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 13.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 14.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 14.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 15.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 15.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 16.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 16.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 17.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 17.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 18.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 18.png" alt="" />
  </a>
</div>