<div class="clienty">
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 1.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 1.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 2.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 2.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 3.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 3.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 4.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 4.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 5.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 5.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 6.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 6.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 7.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 7.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 8.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 8.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 9.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 9.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 10.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 10.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 11.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 11.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 12.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 12.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 13.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 13.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 14.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 14.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 15.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 15.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 16.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 16.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 17.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 17.png" alt="" />
  </a>
  <a
    class="clienty__img-cont"
    href="/images/lst-project-3/Artboard 18.png"
    data-lightbox="mygallery"
  >
    <img src="/images/lst-project-3/Artboard 18.png" alt="" />
  </a>
</div>