<section class="htc__blog__details__page ptb--150 bg__white">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <div class="htc__page__sidebar">
          <!-- Start SideBar -->
          <div class="htc__category bg__gray">
            <h2 class="sidebar__title">CATEGORIES</h2>
            <ul class="cat__list">
              {{#each breadCramps.sidebar}}
                <li><a href="/services/{{this.link}}">{{this.name}}</a></li>
              {{/each}}
            </ul>
          </div>
          <!-- End SideBar -->

        </div>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 smt-40 xmt-40">
        <div class="htc__single__service">
          <div class="htc__single__service__tab">
            <div class="ht-portfolio-pic-show">
              <div class="ht-portfolio-full-image tab-content">
                <div
                  role="tabpanel"
                  class="tab-pane fade in active"
                  id="img-tab-1"
                >
                  <img
                    src="/images/service/{{breadCramps.mainImg}}"
                    alt="full-image"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="htc__service__dtl">
            <!-- Start Single Service -->
            <div class="htc__ser__dtl">
              <!-- Description -->
                                                  <h2 class="title__line--4">Marine and offshore Services</h2>
                                    <p>Today’s competitive marine and offshore support industry require efficient and effective service providers that can promptly respond to clients’ needs with innovative solutions.






Our marine and offshore support services team is positioned to meet today’s oilfield requirements, ensuring seamless and uninterrupted operations.

Our team is a group of experts and knowledgeable people who understand the dynamics of the oil industry when it comes to manpower needs. They have occupied both managerial and field positions therefore understand the language of the job. We have extensive experience in crew management and we are always happy to provide customers with experienced and qualified marine and rig crew who are well abreast and oriented about the operations of the oil and gas industry. We have professionals from junior to senior positions, giving us the opportunity to resource any number of roles quickly, avoiding delays. 

Acentia Energy manages all processes, payroll, logistics and crew planning, training coordination and repatriation, allowing our customers to focus on their core business. 

Some of the positions that we recruit include the following;
                                    </br></br>
<li>Dynamic Positioning Officer (DPO)</li>
<li>Driller</li>
<li>Assistant Driller</li>
<li>Rig Mechanic</li>
<li>Motorman</li>
<li>Welder</li>
<li>Electrical Engineer</li>
<li>Rig Mechanic/Mechanical Engineer</li>
<li>Crane Operator</li>
<li>Painter</li>
<li>Roustabouts</li>
<li>Floor hands/ Roughnecks</li>
<li>Storekeeper</li>
<li>Offshore Medic</li>
<li>Radio Operator</li>
<li>Electrical Technician</li>
<li>Cooks</li>
<li>Stewards</li></br>
We seek to provide you the best so talk to us and let our team of experts work for you.</p>
                                </div>
                                <!-- End Single Service -->
                                <!-- Start Single Service -->

              <!-- Description -->
            </div>
        </div>
      </div>
    </div>
  </div>
</section>