<section class="htc__blog__details__page ptb--150 bg__white">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <div class="htc__page__sidebar">
          <!-- Start SideBar -->
          <div class="htc__category bg__gray">
            <h2 class="sidebar__title">CATEGORIES</h2>
            <ul class="cat__list">
              {{#each breadCramps.sidebar}}
                <li><a href="/services/{{this.link}}">{{this.name}}</a></li>
              {{/each}}
            </ul>
          </div>
          <!-- End SideBar -->

        </div>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 smt-40 xmt-40">
        <div class="htc__single__service">
          <div class="htc__single__service__tab">
            <div class="ht-portfolio-pic-show">
              <div class="ht-portfolio-full-image tab-content">
                <div
                  role="tabpanel"
                  class="tab-pane fade in active"
                  id="img-tab-1"
                >
                  <img
                    src="/images/service/{{breadCramps.mainImg}}"
                    alt="full-image"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="htc__service__dtl">
            <!-- Start Single Service -->
            <div class="htc__ser__dtl">
              <!-- Description -->
                <h2 class="title__line--4">Maintenance and Reliability Engineering</h2>
                <p>Acentia Energy has a well-structured team with apt exposure to oil and gas systems and their daily running routines. Our team brings to our clients complete laid down maintenance routines, schedules and job procedures that cover every asset being used. Our team is capacitated to carry out non-routine maintenance solutions for our clients, manage shutdown maintenance activities to meet the required timelines. Our team helps to manage our clients Computerized Maintenance Management Systems (CMMS) by setting up and integrating maintenance schedules into the system.
                    We provide the following services under maintenance:
                    <br/><br/><br/>
                    <li>Equipment maintenance overhaul</li>
                    <li>Failure Mode and Effects </li>
                    <li>Analysis</li>
                    <li>Equipment installation</li>
                    <li>Reliability centered maintenance</li>
                    </p>

              <!-- Description -->
            </div>
        </div>
      </div>
    </div>
  </div>
</section>