<!-- Start Contact Address -->
<div class="htc__contact__address bg__cat--1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="htc__contact__wrap clearfix">
          <!-- Start Single Address -->
          <div class="ht__address__inner">
            <div class="ht__address__icon">
              <i class="zmdi zmdi-pin"></i>
            </div>
            <div class="ht__address__details">
              <p>Turquaz Residence, No. 1 Nortei Ababio Street
                <br />
                Airport Residential Area, Apartment 14, Ghana</p>
            </div>
          </div>
          <!-- End Single Address -->

          <!-- Start Single Address -->
          <div class="ht__address__inner">
            <div class="ht__address__icon">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="ht__address__details">
              <br />
              <p style="margin-top: -1rem;"><a href="#">+233 (0) 245-692-520</a></p>
            </div>
          </div>
          <!-- End Single Address -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Footer Area -->
<footer class="htc__footer__area">
  <div
    class="footer__top ptb--130"
    data--1f2d30__overlay="9.5"
    style="background: rgba(0, 0, 0, 0) url(/images/bg/2.png) no-repeat fixed center center / cover ;"
  >
    <div class="container">
      <div class="row">
        <div class="htc__footer__wrap clearfix">
          <!-- Start Single Footer -->
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
            <div class="footer foo">
              <div class="footer__widget">
                <h2 class="ft__title">ABOUT</h2>
              </div>
              <div class="ft__details">
                <p>We pride ourselves in our ability to deliver our clients’
                  requirements, as a one-stop shop for support services in the
                  oilfields.</p>
              </div>
            </div>
          </div>
          <!-- End Single Footer -->
          <!-- Start Single Footer -->
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 xmt-40">
          </div>
          <!-- End Single Footer -->
          <!-- Start Single Footer -->
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 smt-40 xmt-40">
          </div>
          <!-- End Single Footer -->

        </div>
      </div>
    </div>
  </div>
  <div class="copyright bg__theme">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="copyright__inner">
            <p>&copy; Acentia Energy. All Rights Reserved 2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>