<!-- Start Header Style -->
<div id="header" class="htc-header">
  <!-- Start Header Top -->
  <div class="htc__header__top bg__cat--1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
          <ul class="heaher__top__left">
            <li><i class="fa fa-clock-o"></i>8:30 AM - 5:00 PM</li>
            <li><a href="#"><i class="fa fa-phone"></i>+233 (0) 245-692-520</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Top -->
  <!-- Start Mainmenu Area -->
  <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-7">
          <div class="logo">
            <a href="/">
              <img src="/images/logo/ASCENTIA LOGO-1.png" alt="logo image" />
            </a>
          </div>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-5">
          <nav class="main__menu__nav hidden-xs hidden-sm">
            <ul class="main__menu">
              <li class="drop"><a href="/">HOME</a></li>
              <li><a href="/about">ABOUT</a></li>
              <li><a href="/services">SERVICES</a></li>
              <li><a href="/contact">CONTACT</a></li>
              <li><a href="/clients">clients</a></li>
              <li><a href="/policy">policy</a></li>
              <li><a href="/events">events</a></li>
            </ul>
          </nav>
          <div class="mobile-menu clearfix visible-xs visible-sm">
            <nav id="mobile_dropdown">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">services</a></li>
                <li><a href="/contact">contact</a></li>
                <li><a href="/clients">clients</a></li>
                <li><a href="/policy">policy</a></li>
                <li><a href="/events">events</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="mobile-menu-area"></div>
    </div>
  </div>
  <!-- End Mainmenu Area -->
</div>
<!-- End Header Style -->