<section
  class="htc__testimonial__area ptb--130"
  data--gray__overlay="9.5"
  style="background: rgba(0, 0, 0, 0) url(images/bg/1.png) no-repeat fixed center center / cover ;"
>
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-6 col-lg-offset-1 col-sm-12 col-xs-12 smt-40">
        <div class="reguest__quote">
          <div class="section__title text-left">
            <h2 class="title__line">REQUEST A
              <span class="text--theme">MEETING</span></h2>
            <p>Tell us what you like to enquire about and we will get back as
              soon as possible</p>
          </div>
          <form class="clint__comment__form" action="/mailme" method="post">
            <div class="single__cl__form">
              <input type="text" placeholder="Name" />
              <input type="email" placeholder="Email" />
            </div>
            <div class="single__cl__form">
              <!-- <input type="tel" placeholder="Phone"> -->
              <input type="text" placeholder="Subject" />
            </div>
            <div class="single__cl__message">
              <textarea name="message" placeholder="Massage"></textarea>
            </div>
            <div class="clint__submit__btn">
              <a class="htc__btn" href="#">SEND MESSAGE</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>