<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {{> meta}}
    <script src="/js/lightbox-plus-jquery.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/lightbox.min.css"
    />
  </head>

  <body>
    {{> snippet}}
    <div class="wrapper">
      {{> header}}
      {{> breadCramps}}

      {{> _gallery}}
      
      {{> footer}}
    </div>
    {{> scripts}}
  </body>
</html>
