<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {{> meta}}
  </head>

  <body>
    {{> snippet}}
    <div class="wrapper">
      {{> header}}
      
      {{> _index}}

      {{> teams}}
      {{> messageBox}}
      {{> footer}}
    </div>
    {{> scripts}}
  </body>
</html>
